// ratio box sets image size before image has loaded to avoid jank reflow
.ratio-box{
  position: relative;
  height: 0;
  display: block;
  width: 100%;
  background-color: fade-out(grey, 0.90);
  /* padding-bottom is calculated and rendered in to HTML */
}

.ratio-box.contents-loaded{
  background-color: transparent;
}

.ratio-box img, .ratio-box iframe, .ratio-box video{
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  margin: auto;
  width: 100%;
  height: 100%;
  display: block;
}

img.lazyload,
img.lazyloading {
  opacity: 0;
}
img.lazyloaded {
  transition: opacity 0.3s ease;
  opacity: 1;
}