// @include mobile {}
// @include phablet {}
// @include tablet {}
// @include desktop {}
// @include desktophd {}

@mixin mobile {
  @media only screen and (min-width: #{$mobile}) {
    @content;
  }
}

@mixin phablet {
  @media only screen and (min-width: #{$phablet}) {
    @content;
  }
}

@mixin tablet {
  @media only screen and (min-width: #{$tablet}) {
    @content;
  }
}

@mixin desktop {
  @media only screen and (min-width: #{$desktop}) {
    @content;
  }
}

@mixin desktophd {
  @media only screen and (min-width: #{$desktophd}) {
    @content;
  }
}

@mixin font-size($size-value: 16) {
  font-size: $size-value + px;
  font-size: ($size-value / 10) + rem;
}

.no-flick{-webkit-transform:translate3d(0,0,0);}

// Hide from both screenreaders and browsers: h5bp.com/u
.hidden {
    display: none !important;
    visibility: hidden;
}

.no-select{
  -webkit-user-select: none; /* webkit (safari, chrome) browsers */
  -moz-user-select: none; /* mozilla browsers */
  -khtml-user-select: none; /* webkit (konqueror) browsers */
  -ms-user-select: none;
}

.clearfix:before,
.clearfix:after {
    content: " "; /* 1 */
    display: table; /* 2 */
}
.clearfix:after {
    clear: both;
}
/*
 * For IE 6/7 only
 * Include this rule to trigger hasLayout and contain floats.
 */

.clearfix {
    *zoom: 1;
}

@mixin column($x) {
  display: inline-block;
  float: left;
  width: $x*100%;
  padding-left: $gutter/2;
  padding-right: $gutter/2;
}

@mixin push($x) {
  margin-left: ($x)*100%;
}


@mixin show-grid($color: black, $blocks: false) {
  body.show-grid:before{
    content: "";
    position: fixed;
    top: 0;
    width: calc(100% - #{$gutter*2});
    height: 100%;
    // max-width: $max-width;
    left: $gutter;
    pointer-events: none;
    z-index: map-get($zindex, show-grid);
    background: url('data:image/svg+xml;utf8,<svg id="Layer_1" data-name="Layer 1" xmlns="http://www.w3.org/2000/svg" preserveAspectRatio="none" viewBox="0 0 1080 1080"><defs><style>.cls-1{fill:none;stroke:cyan;stroke-miterlimit:10;}</style></defs><title>Artboard 1</title><line class="cls-1" x1="1" x2="1" y2="1080"/><line class="cls-1" x1="90" x2="90" y2="1080"/><line class="cls-1" x1="180" x2="180" y2="1080"/><line class="cls-1" x1="270" x2="270" y2="1080"/><line class="cls-1" x1="360" x2="360" y2="1080"/><line class="cls-1" x1="450" x2="450" y2="1080"/><line class="cls-1" x1="540" x2="540" y2="1080"/><line class="cls-1" x1="630" x2="630" y2="1080"/><line class="cls-1" x1="720" x2="720" y2="1080"/><line class="cls-1" x1="810" x2="810" y2="1080"/><line class="cls-1" x1="900" x2="900" y2="1080"/><line class="cls-1" x1="990" x2="990" y2="1080"/><line class="cls-1" x1="1079" x2="1079" y2="1080"/></svg>');
  }
  @if $blocks {
  .show-grid * {
      background: rgba($color, .05);
    }
  }
  body.show-grid:after {
    display: inline-block;
    font-size: 12px;
    background-color: white;
    background-image: none;
    color: cyan;
    outline: 1px solid cyan;
    position: fixed;
    bottom: 0;
    right: 0;
    padding: 0.25em 0.5em;
    z-index: 100;
    content: "< mobile";
    @include mobile {
      content: "mobile";
    }
    @include phablet {
      content: "phablet";
    }
    @include tablet {
      content: "tablet";
    }
    @include desktop {
      content: "desktop";
    }
    @include desktophd {
      content: "desktophd";
    }
  }
}