// @font-face {
//   font-family: 'Atlas Grotesk Web';
//   src: url('../../fonts/AtlasGrotesk-Regular-Web.eot');
//   src: url('../../fonts/AtlasGrotesk-Regular-Web.eot?#iefix') format('embedded-opentype'),
//   url('../../fonts/AtlasGrotesk-Regular-Web.woff2') format('woff2'),
//   url('../../fonts/AtlasGrotesk-Regular-Web.woff') format('woff');
//   font-weight: 400;
//   font-style: normal;
//   font-stretch: normal;
// }

// reset browser font-sizes
*{
  font-size: 100%;
}

html {
  font-family: $text-font-family;
  -webkit-font-smoothing: antialiased;
  font-size: 50%;
  @include tablet {
    font-size: 62.5%;
    /* Sets up the Base 10 stuff */
  }
}

a{
  text-decoration: none;
}


.text-area{
  p{
    font-size: $text-font-size/10 * 1rem;
    font-weight: $text-font-weight;
    font-style: normal;
    font-stretch: normal;
    line-height: $text-line-height * 1em;
    margin: 0;
  }
  p+p{
    margin-top: $text-line-height * 0.5em;
  }
  h1, h2, h3, h4, h5, h6 {
    font-size: $text-font-size/10 * 1rem;
    font-weight: $text-font-weight;
    line-height: $text-line-height * 1em;
    
    margin-bottom: $text-line-height * 0.5em;
    
    display: inline-block;
    margin-bottom: 0;
    
    text-decoration: none;
    // REFINE UNDELINE
    background-position: 0 96%;
    background-size: 1px 1px;
    background-image: linear-gradient( $text-color, $text-color);
    background-repeat: repeat-x;
  }
  a {
    color: $text-color;
    text-decoration: none;
    // REFINE UNDELINE
    background-position: 0 96%;
    background-size: 1px 1px;
    background-image: linear-gradient( $text-color, $text-color);
    background-repeat: repeat-x;
  }

}