// Typography

$text-font-family: serif;
$text-font-size: 28;
$text-font-weight: 400;
$text-line-height: 1.5;

$mono-font-family: monospace;
$mono-font-size: 16;
$mono-font-weight: 400;
$mono-line-height: 1.125;

// Color
$text-color: black;
$body-color: white;
$highlight-color: red;

// Breakpoints
$mobile    : 400px;
$phablet   : 550px;
$tablet    : 750px;
$desktop   : 1000px;
$desktophd : 1400px;
$max-width: 1920px;

// Grid
$gutter: 2rem;